<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mwsfot.system.mapper.SysTenantMenuMapper">

    <resultMap type="SysTenantMenu" id="SysTenantMenuResult">
        <result property="tenantId" column="tenant_id"/>
        <result property="menuId" column="menu_id"/>
    </resultMap>

    <sql id="selectSysTenantMenuVo">
        select tenant_id, menu_id
        from sys_tenant_menu
    </sql>

    <select id="selectSysTenantMenuList" parameterType="SysTenantMenu" resultMap="SysTenantMenuResult">
        <include refid="selectSysTenantMenuVo"/>
        <where>
            <if test="tenantId != null ">and tenant_id = #{tenantId}</if>
            <if test="menuId != null ">and menu_id = #{menuId}</if>
        </where>
    </select>

    <select id="selectSysTenantMenuByTenantId" parameterType="Long" resultMap="SysTenantMenuResult">
        <include refid="selectSysTenantMenuVo"/>
        where tenant_id = #{tenantId}
    </select>

    <insert id="insertSysTenantMenu" parameterType="SysTenantMenu">
        insert into sys_tenant_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tenantId != null">tenant_id,</if>
            <if test="menuId != null">menu_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tenantId != null">#{tenantId},</if>
            <if test="menuId != null">#{menuId},</if>
        </trim>
    </insert>

    <insert id="batchSysTenantMenu">
        insert into sys_tenant_menu(tenant_id, menu_id) values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.tenantId},#{item.menuId})
        </foreach>
    </insert>

    <update id="updateSysTenantMenu" parameterType="SysTenantMenu">
        update sys_tenant_menu
        <trim prefix="SET" suffixOverrides=",">
            <if test="menuId != null">menu_id = #{menuId},</if>
        </trim>
        where tenant_id = #{tenantId}
    </update>

    <delete id="deleteSysTenantMenuByTenantId" parameterType="Long">
        delete
        from sys_tenant_menu
        where tenant_id = #{tenantId}
    </delete>

    <delete id="deleteSysTenantMenuByTenantIds" parameterType="String">
        delete from sys_tenant_menu where tenant_id in
        <foreach item="tenantId" collection="array" open="(" separator="," close=")">
            #{tenantId}
        </foreach>
    </delete>
</mapper>